@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: #E0E0E0;
}


.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

header {
  color: white;
  display: flex;
  padding : 30px 0;
  background-color: #000;
  background-image: url("../images/paul-gilmore-145802-unsplash.jpg");
  background-size: cover;
  background-position: center; 
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 400%;
  margin: 0;

}

header .motto {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
  font-weight: normal;
  font-style: italic;
}

nav {
    margin: 0;
    padding: 30px 0;
    background-color: #F0F0F0; 
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
}


dl, dt, dd {
    margin: 0;
    padding: 0;

}

dl {
    font-family: "Nunito Sans", sans-serif;
     font-weight:normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
    padding-bottom: .25em;
}

dt {
    padding-left: .25em;
}

dd {
    padding-left: .25em;
    padding-bottom: .25em;
}

h2{
    margin-top: 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
}


main{
    padding: 0;
    background-color:#E0E0E0;
    display: flow-root;
}

p img {
    float: right;
}

p {
    font-family: "Nunito Sans", sans-serif;
      font-weight:normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
    padding: 0;
    margin-bottom: 1em;
}


footer { 
    display: flex;
    color: white;
    margin: 0;
    background-color: #3E1305;
     font-family: "Nunito Sans", sans-serif;
     font-weight:normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;

}


footer a {
    display: inline-flex;
    fill: white;
}

footer a svg {
    display: inline-flex;
    fill: white;
    width: 24px;
    height: 24px;
}

footer p { 
    display: flex;
    margin: 5px;
    font-size: small;
}