
 
 body {
    color: #10213a;
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    
}

h1{
  color: rgb(26, 69, 26);
  padding: 40px 0;
  background-color: goldenrod;
}

h2{
  color: goldenrod;
  padding: 5px 0;
}

h3 {color: grey;}

a {color: rgb(15, 73, 15)}

a:hover, 
a:focus {
                border-bottom: 2px solid rgb(218, 165, 32);
                color: rgb(218, 165, 32);
                outline: none;
}


 img {
  max-width: 75%;
  height: auto;
  vertical-align: middle;
  margin-right: .5em;
  padding-bottom: .5em;
}
